.{
    border: 2px solid ;
    padding: 2rem;
    width: 50vw;
    height: 60vh;
    z-index: 3;
    line-height: 1.5;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(9.6rem + 1vw);
    backdrop-filter: blur(4px);

    position: absolute;
    left: calc(5rem+5vw);
    top: 10rem;

    font-family: 'Ubutntu Mono', monospace;
    font-style: italic;
}